*.o

rodinia_3.0/hip/b+tree/b+tree
rodinia_3.0/hip/b+tree/output.txt
rodinia_3.0/hip/b+tree/run0.diff
rodinia_3.0/hip/b+tree/run0.out
rodinia_3.0/hip/backprop/backprop
rodinia_3.0/hip/backprop/out_hip.txt
rodinia_3.0/hip/backprop/run0.diff
rodinia_3.0/hip/backprop/run0.out
rodinia_3.0/hip/bfs/bfs
rodinia_3.0/hip/bfs/run0.diff
rodinia_3.0/hip/bfs/run0.out
rodinia_3.0/hip/bfs/run1.diff
rodinia_3.0/hip/bfs/run1.out
rodinia_3.0/hip/cfd/density
rodinia_3.0/hip/cfd/density_energy
rodinia_3.0/hip/cfd/euler3d
rodinia_3.0/hip/cfd/momentum
rodinia_3.0/hip/cfd/run0.diff
rodinia_3.0/hip/cfd/run0.out
rodinia_3.0/hip/cfd/run1.diff
rodinia_3.0/hip/cfd/run1.out
rodinia_3.0/hip/dwt2d/192.bmp.dwt.b
rodinia_3.0/hip/dwt2d/192.bmp.dwt.g
rodinia_3.0/hip/dwt2d/192.bmp.dwt.r
rodinia_3.0/hip/dwt2d/dwt2d
rodinia_3.0/hip/dwt2d/rgb.bmp.dwt.b
rodinia_3.0/hip/dwt2d/rgb.bmp.dwt.g
rodinia_3.0/hip/dwt2d/rgb.bmp.dwt.r
rodinia_3.0/hip/dwt2d/run0.diff
rodinia_3.0/hip/dwt2d/run0.out
rodinia_3.0/hip/dwt2d/run1.diff
rodinia_3.0/hip/dwt2d/run1.out
rodinia_3.0/hip/gaussian/gaussian
rodinia_3.0/hip/gaussian/run0.diff
rodinia_3.0/hip/gaussian/run0.out
rodinia_3.0/hip/gaussian/run1.diff
rodinia_3.0/hip/gaussian/run1.out
rodinia_3.0/hip/gaussian/run2.diff
rodinia_3.0/hip/gaussian/run2.out
rodinia_3.0/hip/gaussian/run3.diff
rodinia_3.0/hip/gaussian/run3.out
rodinia_3.0/hip/gaussian/run4.diff
rodinia_3.0/hip/gaussian/run4.out
rodinia_3.0/hip/heartwall/heartwall
rodinia_3.0/hip/heartwall/run0.diff
rodinia_3.0/hip/heartwall/run0.out
rodinia_3.0/hip/hotspot/hotspot
rodinia_3.0/hip/hotspot/run0.diff
rodinia_3.0/hip/hotspot/run0.out
rodinia_3.0/hip/hybridsort/hybridsort
rodinia_3.0/hip/hybridsort/run0.diff
rodinia_3.0/hip/hybridsort/run0.out
rodinia_3.0/hip/kmeans/kmeans
rodinia_3.0/hip/kmeans/run0.diff
rodinia_3.0/hip/kmeans/run0.out
rodinia_3.0/hip/kmeans/run1.diff
rodinia_3.0/hip/kmeans/run1.out
rodinia_3.0/hip/kmeans/run2.diff
rodinia_3.0/hip/kmeans/run2.out
rodinia_3.0/hip/kmeans/run3.diff
rodinia_3.0/hip/kmeans/run3.out
rodinia_3.0/hip/lavaMD/lavaMD
rodinia_3.0/hip/lavaMD/run0.diff
rodinia_3.0/hip/lavaMD/run0.out
rodinia_3.0/hip/lavaMD/run1.diff
rodinia_3.0/hip/lavaMD/run1.out
rodinia_3.0/hip/lavaMD/run2.diff
rodinia_3.0/hip/lavaMD/run2.out
rodinia_3.0/hip/lavaMD/run3.diff
rodinia_3.0/hip/lavaMD/run3.out
rodinia_3.0/hip/lavaMD/run4.diff
rodinia_3.0/hip/lavaMD/run4.out
rodinia_3.0/hip/lud/lud_cuda
rodinia_3.0/hip/lud/run0.diff
rodinia_3.0/hip/lud/run0.out
rodinia_3.0/hip/myocyte/myocyte
rodinia_3.0/hip/myocyte/output.txt
rodinia_3.0/hip/myocyte/run0.diff
rodinia_3.0/hip/myocyte/run0.out
rodinia_3.0/hip/nn/nn
rodinia_3.0/hip/nn/run0.diff
rodinia_3.0/hip/nn/run0.out
rodinia_3.0/hip/nw/nw
rodinia_3.0/hip/nw/run0.diff
rodinia_3.0/hip/nw/run0.out
rodinia_3.0/hip/pathfinder/pathfinder
rodinia_3.0/hip/pathfinder/run0.diff
rodinia_3.0/hip/pathfinder/run0.out
rodinia_3.0/hip/srad/image_out.pgm
rodinia_3.0/hip/srad/run0.diff
rodinia_3.0/hip/srad/run0.out
rodinia_3.0/hip/srad/srad_v1/srad
rodinia_3.0/hip/srad/srad_v2/sradCPU
rodinia_3.0/hip/srad/srad_v2/sradGPU
rodinia_3.0/hip/streamcluster/output.txt
rodinia_3.0/hip/streamcluster/run0.diff
rodinia_3.0/hip/streamcluster/run0.out
rodinia_3.0/hip/streamcluster/streamcluster
vectorAdd/vectoradd_hip.exe
